{% include '@rir/includes/header.html.twig' %}
<body>
<div class="tg-wrap">
  <table class="tg">
    <tr>
      <td class="tg-0pky" colspan="2">
        <img src="{{ protocol ~ 'public://default_images/email_banner.gif'|image_style('email_banner') }}"
             class="templateImage" alt="email_banner">
      </td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="2">
        {% set manyAdverts = adverts|length > 1 ? true : false %}
        <h3>New propert{% if manyAdverts %}ies{% else %}y{% endif %} matching your request are available!</h3>

        <p><strong>Dear {{ recipient }}, </strong></p>
        <br>
        <p>You receive this email from {{ drupal_token('site:url') }}. <br>
          Please find below the latest properties matching your selection:</p>
      </td>
    </tr>
    {% for advert in adverts %}
      <tr>
        <td class="tg-0pky">
          {% if advert.field_advert_picture is not empty %}
            <img src="{{ protocol ~ advert.field_advert_picture.0.entity.uri.value|image_style('scaled_90x90') }}"
                 class="templateImage" alt="advertImage"/>
          {% else %}
            <img src="{{ protocol ~ 'public://default_images/no_img.png'|image_style('scaled_90x90') }}"
                 class="templateImage" alt="noImage"/>
          {% endif %}
        </td>
        <td class="tg-0pky">
          <p id="titleId">
            <a href="{{ drupal_url('node/' ~ advert.id, {absolute: true}) }}">{{ advert.title.value|capitalize }}</a>
            - Ref: <span>{{ advert.field_advert_reference.value }}</span> -
            <span>{{ advert.field_advert_price.value }} {{ advert.field_advert_currency.value|upper }}</span><br/>
            {{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}
            <br/>
            {{ advert.field_advert_property_type.value|capitalize }}
            for {{ advert.field_advert_type.value|capitalize }}
          </p>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td class="tg-0pky" colspan="2">
        <br>
        <p>We would love to hear from you, please send us your feedback.
          <br>Should you have found this email helpful, please don’t hesitate to forward it to your friends and family.
        </p>
        <br>
        {% include '@rir/includes/footer.html.twig' %}
      </td>
    </tr>
  </table>
</div>
</body>
</html>
